@import "tailwindcss";

:root {
  --gradient-primary: linear-gradient(to bottom right, #111827, #1f193c, #111827);
}

@theme {
  --breakpoint-xs: 25rem;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-loader-bounce: loader-bounce 1s ease-in-out infinite;

  @keyframes loader-bounce {
    0%,
    100% {
      height: 50%;
      top: 50%;
    }
    50% {
      height: 100%;
      top: 0%;
    }
  }
}
@layer components {
  .bg-gradient-primary {
    background: var(--gradient-primary);
  }
}

.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb {
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
}

html:before {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  background: var(--gradient-primary);
}
